*,
::before,
::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: #f6f6f6;
  text-decoration: none;
}

.contFooter {
  width: 100%;
  height: 186px;
  background: #353535;
  display: flex;
  flex-direction: column;
}
.contFooter .logoFooter {
  width: 139px;
  height: 27px;
  margin: 25px 0 0 15px;
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}
.contFooter .liensUtiles {
  width: 100%;
}
.contFooter .liensUtiles ul {
  list-style-type: none;
  padding: 0;
  margin: 15px 0 0 19px;
}
.contFooter .liensUtiles li {
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
  margin-bottom: 10px;
}
.contFooter .liensUtiles i {
  margin-right: 5px;
}

.contHeader {
  height: 113px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
}
.contHeader .contLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  z-index: 2;
}
.contHeader .contLogo a, .contHeader .contLogo h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Shrikhand", serif;
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
  height: 36px;
  width: 197px;
  color: #101010;
  text-decoration: none;
}
.contHeader .localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background: #eaeaea;
  color: #353535;
}
.contHeader .localisation i {
  margin-right: 15px;
}
.contHeader .localisation p {
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  letter-spacing: 0em;
  margin: 0;
}

.contReserver {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contReserver .txtReserver {
  width: 275px;
  height: 68px;
  margin: 35px 0px 0px 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}
.contReserver .txtDecouvre {
  width: 315px;
  height: 46px;
  margin: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 21px;
  text-align: center;
  color: #353535;
}
.contReserver .btnExplorer {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(355deg, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  cursor: pointer;
  font-size: 15px;
  color: white;
  font-weight: 600;
  text-align: center;
  margin: 25px 0px 50px 0px;
}
.contReserver .btnExplorer:hover {
  background: linear-gradient(355deg, #9356dc -60.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.contFonctionnement {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 440px;
  background: white;
}
.contFonctionnement .titreWrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-bottom: 15px;
}
.contFonctionnement .titreWrapper .titreFonctionnement {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  padding: 0;
  width: 340px;
  height: 30px;
}
.contFonctionnement .contOrganisations {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 375px;
  gap: 10px;
}
.contFonctionnement .contOrganisations .contOrganisation {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 335px;
  height: 73px;
  border-radius: 20px;
  background: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  margin: 10px;
}
.contFonctionnement .contOrganisations .contOrganisation .stepNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  color: white;
  background: #9356dc;
  z-index: 1;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.contFonctionnement .contOrganisations .contOrganisation i {
  margin-right: 25px;
  width: 18px;
  height: 17.91px;
  color: #7e7e7e;
}
.contFonctionnement .contOrganisations .contOrganisation p {
  width: 211px;
  height: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  text-align: left;
}
.contFonctionnement .contOrganisations .contOrganisation:nth-of-type(3) i.fa-store {
  transform: scaleY(1.3);
  color: #9356dc;
}

.contRestaurants {
  width: 100%;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 70px;
}
.contRestaurants h2.titreRestaurant {
  width: 340px;
  height: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  margin-top: 35px;
}
.contRestaurants .restaurants {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
}
.contRestaurants .restaurants .rest {
  position: relative;
  width: 340px;
  height: 270px;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
}
.contRestaurants .restaurants .rest .imgRestaurant {
  width: 340px;
  height: 200px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-size: cover;
  background-position: center;
}
.contRestaurants .restaurants .rest h2 {
  margin: 7px 0 5px 15px;
  width: 267px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
}
.contRestaurants .restaurants .rest p {
  margin: 0 0 0 15px;
  width: 247px;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
}
.contRestaurants .restaurants .rest .icon-heart {
  position: absolute;
  bottom: 32px;
  right: 10px;
  cursor: pointer;
  width: 22px;
}

@media (min-width: 1150px) {
  .contHeader {
    height: 146px;
  }
  .contHeader .contLogo {
    height: 96px;
  }
  .contReserver .txtReserver {
    width: 645px;
    height: 47px;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 25px;
    white-space: nowrap;
  }
  .contReserver .txtDecouvre {
    width: 531px;
    white-space: nowrap;
  }
  .contReserver .btnExplorer {
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .contFonctionnement {
    width: 100%;
    height: 228px;
  }
  .contFonctionnement .titreWrapper {
    margin-bottom: 35px;
    width: 1030px;
  }
  .contFonctionnement .contOrganisations {
    width: 100%;
    height: 73px;
    gap: 10px;
  }
  .contFonctionnement .contOrganisations .contOrganisation {
    width: 335px;
    height: 73px;
    margin: 0px 20px 0px 20px;
  }
  .contRestaurants {
    flex-direction: column;
    margin-bottom: 0px;
  }
  .contRestaurants h2.titreRestaurant {
    width: 1029px;
    height: 30px;
    margin: 30px 0 30px 0;
    text-align: left;
  }
  .contRestaurants .restaurants {
    width: 1160px;
    height: 694px;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 47px 94px;
    margin-bottom: 60px;
  }
  .contRestaurants .restaurants .rest {
    position: relative;
    width: 490px;
    height: 319px;
  }
  .contRestaurants .restaurants .rest .imgRestaurant {
    width: 490px;
    height: 251px;
  }
  .contFooter {
    width: 100%;
    height: 114px;
    background: #353535;
    position: relative;
  }
  .contFooter .logoFooter {
    position: absolute;
    top: 60px;
    right: 50px;
    width: 139px;
    height: 27px;
    display: flex;
    margin: 0;
  }
  .contFooter .liensUtiles {
    width: 661px;
    height: 20px;
    position: absolute;
    top: 65px;
    right: 213px;
  }
  .contFooter .liensUtiles ul {
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    top: 5px;
    right: 5px;
  }
  .contFooter .liensUtiles li {
    margin-bottom: 0;
    margin-right: 15px;
    display: inline-flex;
    gap: 8px;
  }
  .contFooter .liensUtiles li:nth-child(2) {
    margin-right: 50px;
  }
  .contFooter .liensUtiles i {
    margin-right: 5px;
  }
}